<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="container-fluid">
          <div class="col-md-2">
            <%= link_to 'New Invoice', new_invoice_path, class: "btn btn-primary" %>


      </div>
      <div class="panel-body">
        <table class="table table-hover table-bordered">
          <thead>
          <tr>
            <th>Company</th>
            <th>Contragent</th>
            <th>Amount</th>
            <th>Date</th>
            <th colspan="1"></th>
          </tr>
          </thead>

          <tbody>
          <% @invoices.each do |invoice| %>
              <tr>
                <td><%= invoice.company %></td>
                <td><%= invoice.contragent %></td>
                <td><%= invoice.amount %> <%= invoice.currency %></td>
                <td><%= invoice.date %></td>
                <td><%= link_to 'Show', invoice %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>

      <div class="panel-footer">
      </div>
    </div>
  </div>
</div>
